/*------- Introduction ------ */

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	
}
.header{
	min-height: 40vh;
	width:100%;
	background-color: #b8a07e;
	background-position:center;
	background-aize: cover;
	position: relative;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content: space-between;
	align-items: center;

}
.nav-links {
	flex:1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position:relative;
	
}
.nav-links ul li a{
	color:white;
	text-decoration:none;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;

}
.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:white;
	display: block;
	margin: auto ;
	transition:0.3s;
}
.nav-links ul li:hover::after{
	width:100%;
}
.text-box{
	width:90%; 
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
}


.text-box h1{
	font-size: 60px;
	color: whitesmoke;
}




/*------- course ------ */
.course{
	width: 80%;
	margin:auto ;
	text-align: center;
	padding-top:100px;
}
h1{
	font-size:30px;
	font-weight:600;
	color: gray;
}

.row{
	margin-top:5%;
	display:flex;
	justify-content:space-between;
}

.course-col{
	display: inline-block;
	text-decoration: none;
	color: gray;
	border: 2px solid gray;
	flex-basis: 31%;
	background: trasnparemt;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;

}

.course-col:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	color: #b8a07e;
}





/*------------- About me ------------------- */

.sub-header{
	height:20vh;
	width:100%;
	background-color: #b8a07e;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: whitesmoke;
}

.text-box h1{
	width:90%; 
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;

}

.about-us{
	width:80%;
	margin: auto;
	padding-top:80px;
	padding-bottom:50px;
}
.about-col{
	flex-basis:48%;
	padding: 30px 2px;
}
.about-col img {
	width:20%;
}
.about-col h1 {
	padding-top:0;
}

.about-col p{
	padding: 15px 0 25px;
}






